
    html {
      font-family: sans-serif;
    }

    body {
      margin: 0;
   
    }

    .flexbox-wrapper {
        display: flex;
        height: 100vh;
        overflow: auto;
        flex-wrap: wrap;
      }

      .regular {
        flex: 1 200px;
        height: 100vh;
        padding: 10px;
      }

      .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        flex: 3 400px;
        height: 350px;
        align-self: flex-start;
        padding: 10px;
      }


      .search_flexbox-wrapper {
        display: flex;
        height: 100vh;
        top: 0;
        flex-wrap: wrap;
        overflow: auto;
      }

      .search_sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 30px;
        align-self: flex-start;
      }
   
      .search_regular {
        flex: 1 200px;
        height: 100vh;
        padding: 10px;
      }